Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.hmtl index.php
RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /sistema-ventas/index.php/$1 [l,QSA]